Repository aspenas/candlefish-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, security-compliance, accessibility-check

Path conditions:
  typescript: any of: \.(ts|tsx)$
  security-compliance: any of: ^apps/security-dashboard/
  accessibility-check: any of: \.(jsx|tsx)$

fix: Update login page
  clos/web-dashboard/app/login/page.tsx
Due: typescript, accessibility-check

Fix workshop-notes header overlap issues
  brand/website/app/workshop-notes/page.tsx
  brand/website/styles/workshop-notes-unified.css
Due: typescript, accessibility-check

HOTFIX: Fix Netlify static export build failure
  brand/website/scripts/static-export.sh
Due: none

feat: Add bioluminescent candlefish animation to homepage
  brand/website/app/page.tsx
  brand/website/cypress/e2e/candlefish.cy.ts
  brand/website/public/img/candlefish-static.svg
  brand/website/web/aquarium/README.md
  brand/website/web/aquarium/__tests__/candlefish.test.ts
  brand/website/web/aquarium/candle-fish.ts
  brand/website/web/aquarium/candlefish.css
  brand/website/web/aquarium/candlefish.ts
  brand/website/web/aquarium/noise.ts
  brand/website/web/aquarium/react/CandleFish.tsx
Due: typescript, accessibility-check

fix: Remove exposed secrets and implement AWS Secrets Manager
  DEPLOY_NOW.md
  apps/mobile-security-dashboard/google-services.json.template
  docs/SECRETS_MANAGEMENT.md
  infrastructure/aws/terraform.tfvars.example
  projects/paintbox/nanda-deployment/agents/agent_bridge.py
  projects/paintbox/nanda-deployment/agents/agent_bridge_secure.py
  scripts/security/rotate-secrets.py
  scripts/security/setup-aws-secrets.sh
Due: none

fix: Ensure candlefish animation deploys correctly in static export
  .github/workflows/clos-dashboard-deploy.yml
  brand/website/app/page.tsx
  brand/website/scripts/emergency-rollback.sh
  brand/website/scripts/verify-deployment.sh
  clos/AUTHENTICATION_SYSTEM.md
  clos/database/migrations/001_auth_tables.sql
  clos/deploy-production.sh
  clos/web-dashboard/app/api/auth/enterprise/route.ts
Due: typescript, accessibility-check

fix: Remove old animation and increase candlefish size
  brand/website/app/page.tsx
  brand/website/web/aquarium/candlefish.ts
  brand/website/web/aquarium/react/CandleFish.tsx
Due: typescript, accessibility-check

fix: Revert fish size changes, keep old animation removed
  brand/website/app/page.tsx
  brand/website/web/aquarium/candlefish.ts
  brand/website/web/aquarium/react/CandleFish.tsx
Due: typescript, accessibility-check

fix: Reduce spacing between hero section and fish animation
  brand/website/app/page.tsx
Due: typescript, accessibility-check

fix: Reverse fish direction to swim head-first
  brand/website/web/aquarium/candlefish.ts
Due: typescript

feat: Implement hero fish v2 with bioluminescent animation
  brand/website/.github/workflows/candlefish-production-deploy.yml
  brand/website/DEPLOYMENT_GUIDE.md
  brand/website/TESTING_CANDLEFISH.md
  brand/website/__tests__/integration/fish-api-integration.test.ts
  brand/website/__tests__/integration/websocket-events.test.ts
  brand/website/__tests__/performance/k6/candlefish-animation-performance.js
  brand/website/__tests__/visual/candlefish-mood-appearances.test.ts
  brand/website/app/layout.tsx
  brand/website/app/page.tsx
  brand/website/cypress/e2e/enhanced-candlefish-interactions.cy.ts
  brand/website/jest.config.candlefish.js
  brand/website/lambda/candlefish-analytics.js
  brand/website/public/hero-fish.css
  brand/website/public/img/cf-fish-fallback.svg
  brand/website/scripts/emergency-rollback.sh
  brand/website/scripts/run-candlefish-tests.js
  brand/website/scripts/verify-deployment.sh
  brand/website/src/entries/hero-fish.ts
  brand/website/src/heroFish/draw.ts
  brand/website/src/heroFish/fish.ts
  brand/website/src/heroFish/index.ts
  brand/website/src/heroFish/noise.ts
  brand/website/src/heroFish/telemetry.ts
  brand/website/src/heroFish/types.ts
  brand/website/terraform/candlefish-animation.tf
  brand/website/web/aquarium/__tests__/emotional-state-machine.test.ts
  brand/website/web/aquarium/__tests__/memory-system.test.ts
  brand/website/web/aquarium/__tests__/particle-system.test.ts
  brand/website/web/aquarium/candlefish.ts
Due: typescript, accessibility-check

fix: Resolve deployment issues for Netlify static export
  brand/website/app/layout.tsx
  brand/website/app/page.tsx
  brand/website/components/HeroFish.tsx
  brand/website/src/heroFish/draw.ts
  brand/website/src/heroFish/fish.ts
  brand/website/src/heroFish/index.ts
  brand/website/src/heroFish/noise.ts
  brand/website/src/heroFish/telemetry.ts
Due: typescript, accessibility-check

docs: Add manual rotation guide and local secrets configuration
  .env.secrets.example
  docs/MANUAL_SECRET_ROTATION.md
  scripts/security/cron-rotation.txt
Due: none

feat: Deploy CLOS Analytics v1.0
  .github/workflows/clos-analytics-deploy.yml
  .github/workflows/clos-analytics-rollback.yml
  clos/web-dashboard/app/analytics/page.tsx
  clos/web-dashboard/app/analytics/trends/page.tsx
  clos/web-dashboard/components/analytics/AddWidgetModal.tsx
  clos/web-dashboard/components/analytics/AnalyticsDashboard.tsx
  clos/web-dashboard/components/analytics/DashboardFilters.tsx
  clos/web-dashboard/components/analytics/HistoricalTrends.tsx
  clos/web-dashboard/components/analytics/MobileAnalytics.tsx
  clos/web-dashboard/components/analytics/README.md
  clos/web-dashboard/components/analytics/widgets/AgentPerformanceChart.tsx
  clos/web-dashboard/components/analytics/widgets/AlertsWidget.tsx
  clos/web-dashboard/components/analytics/widgets/ServiceHealthGrid.tsx
  clos/web-dashboard/components/analytics/widgets/SystemOverviewWidget.tsx
  clos/web-dashboard/components/analytics/widgets/WidgetContainer.tsx
  clos/web-dashboard/e2e/global-setup.ts
  clos/web-dashboard/e2e/global-teardown.ts
  clos/web-dashboard/stores/analyticsStore.ts
  k8s/clos-analytics/api-server.yaml
  k8s/clos-analytics/configmap.yaml
  k8s/clos-analytics/ingress.yaml
  k8s/clos-analytics/logging.yaml
  k8s/clos-analytics/monitoring.yaml
  k8s/clos-analytics/namespace.yaml
  k8s/clos-analytics/postgres.yaml
  k8s/clos-analytics/rbac.yaml
  k8s/clos-analytics/redis.yaml
  k8s/clos-analytics/secrets.yaml
  k8s/clos-analytics/web-dashboard.yaml
  k8s/clos-analytics/websocket-server.yaml
  terraform/modules/clos-analytics/main.tf
  terraform/modules/clos-analytics/outputs.tf
  terraform/modules/clos-analytics/variables.tf
Due: typescript, accessibility-check

test: Add comprehensive testing infrastructure
  .github/workflows/analytics-test-pipeline.yml
  .github/workflows/test-pipeline.yml
  clos/api-server/jest.config.js
  clos/api-server/tests/fixtures/analytics-fixtures.ts
  clos/api-server/tests/globalSetup.ts
  clos/api-server/tests/globalTeardown.ts
  clos/api-server/tests/integration/database.test.ts
  clos/api-server/tests/integration/websocket.test.ts
  clos/api-server/tests/performance/load-test.js
  clos/api-server/tests/performance/websocket-load-test.js
  clos/api-server/tests/setup.ts
  clos/api-server/tests/unit/analytics.test.ts
  clos/web-dashboard/__tests__/fixtures/mock-data.ts
  clos/web-dashboard/jest.config.js
  clos/web-dashboard/jest.setup.js
  clos/web-dashboard/playwright.config.ts
  clos/web-dashboard/tests/performance/lighthouse-performance.js
  tests/backend/ai-integration-service/test_ai_service.py
  tests/backend/collaboration-service/collaboration.test.js
  tests/backend/document-service/document.test.go
  tests/backend/project-service/test_project_service.py
  tests/e2e/collaboration-flows.spec.ts
  tests/e2e/page-objects/DocumentPage.ts
  tests/fixtures/test-data-factory.ts
  tests/frontend/components/CollaborationLayout.test.tsx
  tests/frontend/components/CollaborativeEditor.test.tsx
  tests/frontend/components/WebSocketManager.test.ts
  tests/graphql/dataloaders.test.ts
  tests/graphql/resolvers.test.ts
  tests/graphql/schema-validation.test.ts
  tests/mobile/components/DocumentViewer.test.tsx
  tests/mobile/services/OfflineSync.test.ts
  tests/performance/websocket-load.test.js
  tests/security/authentication.test.ts
  tests/security/test_encryption.py
Due: typescript, accessibility-check

feat: Add simplified Netlify deployment workflow
  .github/workflows/deploy-netlify-simple.yml
Due: none
