Repository aspenas/candlefish-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, security-compliance, accessibility-check

Path conditions:
  typescript: any of: \.(ts|tsx)$
  security-compliance: any of: ^apps/security-dashboard/
  accessibility-check: any of: \.(jsx|tsx)$

fix: Exclude ALL mobile apps from workspace to resolve CI dependency hang
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs: Update Security Dashboard status with complete mobile app exclusion
  apps/security-dashboard/README.md
Due: security-compliance

fix: Sync lockfile with Security Dashboard package.json dependencies
  apps/security-dashboard/package.json
Due: security-compliance

debug: Add test workflow to diagnose install dependencies hang
  .github/workflows/test-install.yml
Due: none

feat: Add simplified Security Dashboard deployment workflow
  .github/workflows/security-dashboard-simple.yml
Due: none

fix: Update upload-artifact to v4 in simple deployment workflow
  .github/workflows/security-dashboard-simple.yml
Due: none

fix: Isolate Security Dashboard build from monorepo dependencies
  .github/workflows/security-dashboard-simple.yml
Due: none

feat: implement autonomous prompt engineering deployment system
  brand/website/.github/workflows/autonomous-deployment.yml
  brand/website/api-docs/prompt-engineering-api.yaml
  brand/website/docs/api/README.md
  brand/website/docs/api/authentication.md
  brand/website/docs/api/typescript-sdk.md
  brand/website/docs/api/websocket-events.md
  brand/website/scripts/autonomous-deploy.sh
Due: none

fix: move autonomous deployment workflow to root .github directory
  .github/workflows/autonomous-deployment.yml
Due: none

Add secure autonomous deployment workflow
  .github/workflows/autonomous-deploy-secure.yml
Due: none

Configure Netlify for static export deployment
  brand/website/netlify.toml
Due: none

Fix critical production issues on candlefish.ai
  brand/website/app/assessment/page.tsx
  brand/website/app/maturity-map/page.tsx
  brand/website/app/page.tsx
  brand/website/components/HeaderText.tsx
  brand/website/components/navigation/OperationalNav.tsx
  brand/website/netlify.toml
  brand/website/next.config.js
  brand/website/package.json
  brand/website/public/_redirects
  brand/website/scripts/build-production.sh
  brand/website/scripts/fix-production-issues.sh
  brand/website/scripts/static-export-enhanced.sh
  brand/website/scripts/static-export.sh
  brand/website/tailwind.config.js
Due: typescript, accessibility-check

Fix frontend API configuration and add enhanced error handling
  5470_S_Highline_Circle/frontend/netlify.toml
  5470_S_Highline_Circle/frontend/src/config.ts
  5470_S_Highline_Circle/frontend/src/services/api.ts
Due: typescript

feat: Complete security dashboard deployment with TypeScript fixes
  5470_S_Highline_Circle/backend/handlers/item_handler.go
  5470_S_Highline_Circle/backend/repositories/base.go
  5470_S_Highline_Circle/backend/repositories/item_repository.go
  5470_S_Highline_Circle/backend/services/item_service.go
  5470_S_Highline_Circle/frontend/src/App.tsx
  apps/security-dashboard/src/components/analytics/AttackPathGraph.tsx
  apps/security-dashboard/src/components/analytics/ComplianceDashboards.tsx
  apps/security-dashboard/src/components/analytics/RiskMatrices.tsx
  apps/security-dashboard/src/components/analytics/SecurityAnalyticsDashboard.tsx
  apps/security-dashboard/src/components/analytics/ThreatIntelligenceViewer.tsx
  apps/security-dashboard/src/components/incident-response/AlertTriageQueue.tsx
  apps/security-dashboard/src/components/incident-response/AutomatedResponseControls.tsx
  apps/security-dashboard/src/components/incident-response/CaseManagementBoard.tsx
  apps/security-dashboard/src/components/incident-response/IncidentResponseWorkflow.tsx
  apps/security-dashboard/src/components/incident-response/InvestigationTimeline.tsx
  apps/security-dashboard/src/components/incident-response/PlaybookExecutionInterface.tsx
  apps/security-dashboard/src/components/threat-detection/GlobalThreatHeatmap.tsx
  apps/security-dashboard/src/components/threat-detection/IOCManagementInterface.tsx
  apps/security-dashboard/src/components/threat-detection/LiveEventStream.tsx
  apps/security-dashboard/src/components/threat-detection/MITREAttackVisualization.tsx
  apps/security-dashboard/src/components/threat-detection/RealTimeThreatDashboard.tsx
  apps/security-dashboard/src/components/threat-detection/ThreatActorAttributionCards.tsx
  apps/security-dashboard/src/components/threat-detection/ThreatMetricsOverview.tsx
  apps/security-dashboard/src/components/threat-intelligence/index.ts
  apps/security-dashboard/src/graphql/resolvers/example-resolvers.ts
  apps/security-dashboard/src/test/__mocks__/apollo-client.ts
Due: typescript, security-compliance, accessibility-check

feat: Add Candlefish Operating System v1.0
  candlefish-spine/.github/CODEOWNERS
  candlefish-spine/.github/ISSUE_TEMPLATE/decision-memo.md
  candlefish-spine/.github/ISSUE_TEMPLATE/feature.md
  candlefish-spine/.github/ISSUE_TEMPLATE/ops-task.md
  candlefish-spine/.github/PULL_REQUEST_TEMPLATE.md
  candlefish-spine/.github/workflows/ci.yml
  candlefish-spine/.github/workflows/gatekeeper.yml
  candlefish-spine/Charter.html
  candlefish-spine/Charter.md
  candlefish-spine/DELIVERY_SUMMARY.md
  candlefish-spine/OPERATING_SYSTEM_COMPLETE.md
  candlefish-spine/README_START_HERE.md
  candlefish-spine/STAKEHOLDER_REVIEW_GUIDE.md
  candlefish-spine/cadence/daily-unblock-commit.ics
  candlefish-spine/cadence/daily_unblock_commit.md
  candlefish-spine/cadence/monthly-portfolio-council.ics
  candlefish-spine/cadence/monthly_portfolio_council.md
  candlefish-spine/cadence/weekly-demo-friday.ics
  candlefish-spine/cadence/weekly_demo_friday.md
  candlefish-spine/decision-memos/2025-08-ai-preview.md
  candlefish-spine/decision-memos/2025-08-mobile-capture.md
  candlefish-spine/decision-memos/2025-08-unified-auth.md
  candlefish-spine/minimum-remarkable-checklist.md
  candlefish-spine/ops/kits/slack/announcement-charter-launch.md
  candlefish-spine/ops/kits/slack/demo-friday-reminder.md
  candlefish-spine/ops/kits/slack/gate-promotion-notice.md
  candlefish-spine/pods/crown-trophy/engraving-flow.md
  candlefish-spine/pods/crown-trophy/inventory-schema-v1.yaml
  candlefish-spine/pods/paintbox/scope-map-v1.md
  candlefish-spine/pods/promoteros/relationship-cadence.yaml
  candlefish-spine/pods/ratio/ops-telemetry-mvp.yaml
  candlefish-spine/rollout/30-60-90-plan.md
  candlefish-spine/runbooks/dependency-map.md
  candlefish-spine/runbooks/handoff.md
  candlefish-spine/runbooks/kill-switch.md
  candlefish-spine/stage-gates.yaml
  candlefish-spine/validation/charter-acceptance-test.md
Due: none

feat: Add analytics instrumentation and search discoverability
  brand/website/docs/analytics/CLOUDFLARE_INSTRUCTIONS.md
  brand/website/docs/analytics/CSP_REQUIREMENTS.md
  brand/website/docs/analytics/PLAUSIBLE_INSTRUCTIONS.md
  brand/website/docs/analytics/snippets/cloudflare-web-analytics.html
  brand/website/docs/analytics/snippets/plausible.html
  brand/website/docs/search-console/VERIFY_DOMAIN_AT_PORKBUN.md
  brand/website/docs/search-console/placeholder.txt
  brand/website/package.json
  brand/website/public/robots.txt
  brand/website/public/sitemap.xml
  brand/website/scripts/generate-sitemap.mjs
Due: none

feat: Deploy CLOS Analytics v1.0
  .github/workflows/clos-analytics-deploy.yml
  .github/workflows/clos-analytics-rollback.yml
  clos/web-dashboard/app/analytics/page.tsx
  clos/web-dashboard/app/analytics/trends/page.tsx
  clos/web-dashboard/components/analytics/AddWidgetModal.tsx
  clos/web-dashboard/components/analytics/AnalyticsDashboard.tsx
  clos/web-dashboard/components/analytics/DashboardFilters.tsx
  clos/web-dashboard/components/analytics/HistoricalTrends.tsx
  clos/web-dashboard/components/analytics/MobileAnalytics.tsx
  clos/web-dashboard/components/analytics/README.md
  clos/web-dashboard/components/analytics/widgets/AgentPerformanceChart.tsx
  clos/web-dashboard/components/analytics/widgets/AlertsWidget.tsx
  clos/web-dashboard/components/analytics/widgets/ServiceHealthGrid.tsx
  clos/web-dashboard/components/analytics/widgets/SystemOverviewWidget.tsx
  clos/web-dashboard/components/analytics/widgets/WidgetContainer.tsx
  clos/web-dashboard/e2e/global-setup.ts
  clos/web-dashboard/e2e/global-teardown.ts
  clos/web-dashboard/stores/analyticsStore.ts
  k8s/clos-analytics/api-server.yaml
  k8s/clos-analytics/configmap.yaml
  k8s/clos-analytics/ingress.yaml
  k8s/clos-analytics/logging.yaml
  k8s/clos-analytics/monitoring.yaml
  k8s/clos-analytics/namespace.yaml
  k8s/clos-analytics/postgres.yaml
  k8s/clos-analytics/rbac.yaml
  k8s/clos-analytics/redis.yaml
  k8s/clos-analytics/secrets.yaml
  k8s/clos-analytics/web-dashboard.yaml
  k8s/clos-analytics/websocket-server.yaml
  terraform/modules/clos-analytics/main.tf
  terraform/modules/clos-analytics/outputs.tf
  terraform/modules/clos-analytics/variables.tf
Due: typescript, accessibility-check

test: Add comprehensive testing infrastructure
  .github/workflows/analytics-test-pipeline.yml
  .github/workflows/test-pipeline.yml
  clos/api-server/jest.config.js
  clos/api-server/tests/fixtures/analytics-fixtures.ts
  clos/api-server/tests/globalSetup.ts
  clos/api-server/tests/globalTeardown.ts
  clos/api-server/tests/integration/database.test.ts
  clos/api-server/tests/integration/websocket.test.ts
  clos/api-server/tests/performance/load-test.js
  clos/api-server/tests/performance/websocket-load-test.js
  clos/api-server/tests/setup.ts
  clos/api-server/tests/unit/analytics.test.ts
  clos/web-dashboard/__tests__/fixtures/mock-data.ts
  clos/web-dashboard/jest.config.js
  clos/web-dashboard/jest.setup.js
  clos/web-dashboard/playwright.config.ts
  clos/web-dashboard/tests/performance/lighthouse-performance.js
  tests/backend/ai-integration-service/test_ai_service.py
  tests/backend/collaboration-service/collaboration.test.js
  tests/backend/document-service/document.test.go
  tests/backend/project-service/test_project_service.py
  tests/e2e/collaboration-flows.spec.ts
  tests/e2e/page-objects/DocumentPage.ts
  tests/fixtures/test-data-factory.ts
  tests/frontend/components/CollaborationLayout.test.tsx
  tests/frontend/components/CollaborativeEditor.test.tsx
  tests/frontend/components/WebSocketManager.test.ts
  tests/graphql/dataloaders.test.ts
  tests/graphql/resolvers.test.ts
  tests/graphql/schema-validation.test.ts
  tests/mobile/components/DocumentViewer.test.tsx
  tests/mobile/services/OfflineSync.test.ts
  tests/performance/websocket-load.test.js
  tests/security/authentication.test.ts
  tests/security/test_encryption.py
Due: typescript, accessibility-check
