Repository aspenas/candlefish-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript, security-compliance, accessibility-check

Path conditions:
  typescript: any of: \.(ts|tsx)$
  security-compliance: any of: ^apps/security-dashboard/
  accessibility-check: any of: \.(jsx|tsx)$

feat: Add Workshop Note - Cleaning Out Old Bad Habits
  brand/website/content/workshop-notes/2025-08-26-cleaning-out-old-bad-habits.md
Due: none

refactor: Anonymize and align Workshop Note voice with existing style
  brand/website/content/workshop-notes/2025-08-26-cleaning-out-old-bad-habits.md
Due: none

feat: Add complete security dashboard deployment infrastructure
  deployment/nginx/frontend.conf
  docker-compose.simple.yml
Due: none

feat: Complete all deployment infrastructure files
  graphql/package.json
Due: none

fix: Add The Hygiene Paradox to workshop notes index
  brand/website/content/workshop-notes/index.ts
Due: typescript

fix: Fix GitHub Actions deploy workflow syntax error
  .github/workflows/deploy.yml
  SECURITY_DASHBOARD_DEPLOYMENT_COMPLETE.md
  apps/security-dashboard/package.json
  apps/security-dashboard/src/App.backup.tsx
  apps/security-dashboard/src/App.full.tsx
  apps/security-dashboard/src/components/dashboard/ThreatActivityChart.tsx
  apps/security-dashboard/src/services/apollo-client.ts
  apps/security-dashboard/tailwind.config.js
  apps/security-dashboard/vite.config.ts
  brand/website/prompts/continuous-learning-prompts.md
  brand/website/prompts/document-analysis-prompts.md
  brand/website/prompts/implementation-guide.md
  deployment/monitoring/prometheus-security-dashboard.yml
  pnpm-lock.yaml
Due: typescript, security-compliance, accessibility-check

fix: Correct Netlify build configuration
  brand/website/netlify.toml
Due: none

fix: Move netlify.toml to repository root to fix deployment
  .github/workflows/brand-website-deploy.yml
  netlify.toml
Due: none

fix: Update pnpm version to match GitHub Action configuration
  package.json
Due: none

trigger: Force website rebuild to test netlify.toml configuration
  brand/website/app/page.tsx
Due: typescript, accessibility-check

Force rebuild: Update workshop notes page to trigger Netlify build
  brand/website/app/workshop-notes/page.tsx
Due: typescript, accessibility-check

Fix workshop scripts to enable proper build
  brand/website/package.json
Due: none

Fix pnpm version mismatch blocking Security Dashboard deployment
  .github/workflows/candlefish-orchestrator-optimized.yml
  .github/workflows/candlefish-orchestrator-secure.yml
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/deploy-documentation-sites.yml
  .github/workflows/preview-deployments.yml
  .github/workflows/release-automation.yml
  .github/workflows/security-dashboard-ci-cd.yml
  .github/workflows/security-dashboard-production.yml
  .github/workflows/test-simplified.yml
Due: none

Fix CI hang: Exclude mobile security dashboard from workspace
  package.json
  pnpm-lock.yaml
Due: none

docs: Update Security Dashboard README with dependency fix status
  apps/security-dashboard/README.md
Due: security-compliance

fix: Update lockfile with @faker-js/faker dependency for Security Dashboard
  apps/security-dashboard/package.json
  pnpm-lock.yaml
Due: security-compliance
